body{
font-family: Arial, sans-serif;
margin:0;
background:#f4f4f4;
}

header{
background:#1c2340;
color:white;
text-align:center;
padding:20px;
}

main{
width:90%;
margin:auto;
padding:20px;
}

table{
width:100%;
border-collapse:collapse;
background:white;
}

thead{
background:#1c2340;
color:white;
}

th, td{
border:1px solid #ccc;
padding:10px;
text-align:center;
}

tbody tr:nth-child(even){
background:#f2f2f2;
}

tfoot{
background:#eaeaea;
font-weight:bold;
}


nav{
    display: inline-block;
    text-decoration: none;
    background: #9f9d9d;
    padding: 8px 15px;
    border-radius: 8px;
    text-align: center;
}

footer{
background:#1c2340;
color:white;
text-align:center;
padding:10px;
margin-top:20px;
}